:root {
    --darker-grey: #383434;
    --lighter-grey: #f4f4f9;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--lighter-grey);
    
}

.container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    width: 80%;
    margin: 2em auto;
    background-color: var(--lighter-grey);
}

.featured-post h2::before{
    content: "â­";
}

nav {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--darker-grey);
    color:white;
    padding: 2em;
    gap: 1em;
}

nav h1{
    font-size: 2em;
}

nav ul {
    display:flex;
    list-style-type: none;
    gap: .5em;
}

.featured-post {
    display: flex;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    margin: 1.5em 0;
}

.fp-text {
    padding: 1em;
}

.fp-text p {
    margin: 2em 0;
}

.featured-post img {
    border-radius: 25px;
    width: 225px;
    height:200px;
}

button {
    font-size: 1em;
    color: white;
    background-color: var(--darker-grey);
    padding: .5em .8em;
    border: 0;
    border-radius: 5px;
}

button:hover {
    background-color:#7a7474
}

h3 {
    text-align: center;
    font-size: 1.5em;

}

.posts-flexbox {
    text-align: center;
    display: flex;
    gap: 5em;
    margin: 1.5em 0;
}

.posts-flexbox p {
    padding: 1em;
}

.posts-flexbox > div {
    padding: 1.5em;
    background-color: white;
    border-radius: 5px;
}


footer {
    background-color: var(--darker-grey);
    color: white;
    padding: 2em;
    text-align: center;
}

@media (max-width:768px) {
    .featured-post, .posts-flexbox{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .posts-flexbox{
        gap: 2.5em;
    }

    nav {
        text-align: center;
    }

}